.column.is-7.is-offset-2
  .card.article
    .card-content
      .media
        .media-content.has-text-centered
          %p.title.article-title
            %h3.has-text-centered
              = link_to post.title, url_for(:posts, :show, :id => post.id)
          .has-addons
            %span.tag.is-rounded.is-info= post.account.email
            %span.tag.is-rounded= time_ago_in_words(post.created_at) + ' ago'
      .content.article-body
        = simple_format(post.body)

